<!DOCTYPE html>
<html>
<body>

<h2>Login</h2>
{% if error %}
<p id='result'>{{error}}<br> Incorrect, or Two-factor failure</p>
{% endif %}
<form method="post">

    username:
    <input type="text" name="username" id="uname">

    <br>
    password:
    <input type="password" name="password" id="pword">
    <br>
    2fa:
    <input type="text" name="twofa" id="2fa">
    <br>
    <input type="submit" value="Submit" >
</form>
don't have a account? <a href="http://localhost:5000/register">register</a>
</body>
</html>
